
body{
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('../images/login_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.submit-button{
    background-color: transparent;
    border:none;
    color:white;
    font-weight: bold;
}

