
.login_background{
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('../images/login_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.submit-button{
    background-color: transparent;
    border:none;
    color:white;
    font-weight: bold;
}

.border-top{
    border-top: solid 2px #bdc3c7;
}
.siimple--mt-6{
    margin-top: 10vh;
}
.siimple--mt-7{
    margin-top: 20vh;
}
nav{
    background-color: #6F1E51;
    color:#ffffff;
}
.siimple-jumbotron--background{
    background-image: url("../images/background-header.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.siimple-jumbotron{
    position: relative;
}

